/* contact.css */

body {
    margin: 0;
    height: 100vh;
    background-image: url("../assets/images/backgrounds/site-bg.jpg"); 
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 

    .metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
    }
}


/*Nav bar*/
nav{
    text-align: center;
}
ul.Nav-List {
    display: flex;
    align-items: center;         /* Align items vertically in the center */
    justify-content: center;     /* Center all nav items including logo */
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 10vh;
    gap: 20px;                   /* Space between nav items */
    
    background-color: #1e2b24e4;
}


/* The Hover State */
.menu-item:hover {
  color: #ffcc00; /* Gold highlight */
  transform: scale(1.2); /* Makes it 20% bigger */
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.8); /* Adds a glow */
}

.menu-item {
  list-style: none;
  font-size: larger;
  color: #fff1d0; 
  cursor: pointer;
  margin: 25px 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 1%;
}



a{
    color: #fff1d0;
    text-decoration:none;
}

img{
    width: 24px;
    height: 24px;
    margin: none;
   
}

nav{
    text-align: center;
}



/*Page content*/

div.FLEX{
    background-color: #e8e7d3;
    border: 20px double #1e2b24;

    margin-top: 10vh;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display:flex;
    justify-content:center;
    align-items: center;


}

img.Headshot{
    height: 40vh;
    width: auto;
    border: 5px solid #1e2b24;
}

ul.Contact{
    list-style-type: none;
}

a.email{
    text-decoration: underline;
    color: black;
}

ul.Icons{
    list-style-type: none;
}

ul.Icons li.icon img {
    width: 70px;
    height: 70px;
}






