/* experience.css */


html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../assets/images/backgrounds/site-bg.jpg"); 
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;

    .metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
    }
}
/*Nav bar*/
ul.Nav-List {
    display: flex;
    align-items: center;         /* Align items vertically in the center */
    justify-content: center;     /* Center all nav items including logo */
    list-style-type: none;
    padding: none;
    margin: 0;
    height: 10vh;
    gap: 20px;                   /* Space between nav items */
    
    background-color: #1e2b24e4;
}


/* The Hover State */
.menu-item:hover {
  color: #ffcc00; /* Gold highlight */
  transform: scale(1.2); /* Makes it 20% bigger */
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.8); /* Adds a glow */
}

.menu-item {
  list-style: none;
  font-size: larger;
  color: #fff1d0; 
  cursor: pointer;
  margin: 25px 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 1%;
}


a{
    color: #fff1d0;
    text-decoration:none;
}

img{
    width: 24px;
    height: 24px;
    margin: none;
   
}

nav{
    text-align: center;
}


/* Page Content */
h5{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #fff1d0;
    margin:0;
    padding-top: 1%;
    padding-bottom: 1%;
}


.quickJump{
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

#Awards,
#CSExperience,
#Experience{
    /*background-color: #cad6fc;*/
    background-color: #e8e7d3;
    padding: 5vh 5%;
    padding-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 5%;
    margin-right: 5%;
    border-style: double;
    border-width: 7px;
    border-color: #f5df95;
    
}

dd.date{
    font-style: italic;
    font-weight: bold;
}

#Awards{
    margin-top: 5vh;
}


li{
    list-style-type: none;
    margin-top: 2vh;
}


dt {
    font-size: large;
    font-weight: bold;
    margin: 2vh;
}

dd{
    margin-bottom: 1vh;
    display: list-item;
    list-style-type: circle;
}

dd.date{
    list-style-type: none;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    
}


/* Back to top btn */
#myBtn{
display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: #1e2b24; /* Set a background color */
  color: #fffae1; /* Text color */
  border-color: #b2d5b5;
  font-family: "Metamorphous", serif;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 15px; /* Increase font size */
}




